body{
    background-color: #417ff6;
}

.card{
    width: 15rem;
    border: 1px solid  #c4bdcd;
    border-color:  #c4bdcd;
    background-color: #b9dfff;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.btn-outline-success{
    border-color: #66606e;
    color: #66606e;
}

.btn-outline-success:hover{
    background-color: #66606e;
}

.navbar{
    background-color: #ffffff;
}

.container{
    border: 1px solid  #c4bdcd;
    border-radius: 10px;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-top: 15px;
}