.card {
    width: 20rem;
    margin: 3rem;
}

.alert-empty-cars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}