.card {
    width: 20rem;
    margin: 3rem;
}

.alert-empty-cars {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}